@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SpecificStyles = "~/Content/Custom_CSS/css-dashboard";
}

<div class="main__content limit-width">
    <nav class="main__nav">
        <a href="" class="nav__link">Dashboard</a>
        <span class="nav__delimiter">&gt;</span>
        <a href="" class="nav__link">2024</a>
    </nav>

    <section class="main__dashboard">
        <h1 class="dashboard__title">Tus movimientos del 2024</h1>
        <div class="dashboard__movements">
            <div class="movements__box">
                <h3 class="box__title">Ingresos</h3>
                <p class="box__net box__net--positive">1.267€</p>
            </div>
            <div class="movements__box">
                <h3 class="box__title">Gastos</h3>
                <p class="box__net box__net--negative">782€</p>
            </div>
            <div class="movements__box">
                <h3 class="box__title">Ahorros</h3>
                <p class="box__net box__net--positive">485€</p>
            </div>
        </div>
        <section class="dashboard__diagram">
            <div id="chart-wrap"></div>
        </section>
    </section>


    <section class="main__dates">
        <h2 class="dates__title">Tus movimientos por años</h2>
        <div class="dates__content">
            <div class="date__box">
                <h3 class="date__title">2023</h3>
            </div>
            <div class="date__box">
                <h3 class="date__title">2022</h3>
            </div>
            <div class="date__box">
                <h3 class="date__title">2021</h3>
            </div>
            <div class="date__box">
                <h3 class="date__title">2020</h3>
            </div>
            <div class="date__box">
                <h3 class="date__title">2019</h3>
            </div>
            <div class="date__box">
                <h3 class="date__title">2018</h3>
            </div>
        </div>
    </section>
</div>