@{
    ViewBag.Title = "Home Page";
    ViewBag.SpecificStyles = "~/Content/Custom_CSS/css-index";
}

<!-- ========== HERO ========== -->
<section class="main__content main__content--hero limit-width">
    <div class="main__bg-decoration main__bg-decoration--left">
        <i class="fa-solid fa-coins"></i>
    </div>
    <h1>
        Controla tus gastos
        <!-- <i class="fa-solid fa-hand-holding-dollar"></i> -->

    </h1>

    <div class="main__buttons">
        <a href="" class="btn btn--primary">Regístrate</a>
        <a href="" class="btn btn--secondary">Login</a>
    </div>

    <div class="main__bg-decoration main__bg-decoration--right">
        <i class="fa-solid fa-coins"></i>
    </div>
</section>

<!-- ========== WAVE ========== -->
<div class="main__content main__content--wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
        <path fill-opacity="1" d="M0,128L80,144C160,160,320,192,480,197.3C640,203,800,181,960,170.7C1120,160,1280,160,1360,160L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
</div>

<!-- ========== ABOUT ========== -->
<section class="main__content main__content--about">
    <div class="about__content limit-width">
        <div class="about__img">
            <i class="fa-solid fa-chart-pie"></i>
        </div>
        <div class="about__desc">
            <h2>
                Toma el control de tus finanzas
            </h2>
            <p>
                <strong>EconoMe</strong> es una aplicación que te permite monitorizar tus finanzas de manera sencilla y
                divertida. ¿Te preguntas a dónde va tu dinero? Con nuestra app, puedes rastrear tus ingresos
                y gastos de forma fácil. Además, ¡descubre qué porcentaje de tu dinero se va en cada categoría
                de gastos! Simplifica tu vida financiera y toma el control con <strong>EconoMe</strong>.
            </p>
        </div>
    </div>
</section>

<!-- ========== JOIN ========== -->
<section class="main__content">
    <div class="content__join limit-width">
        <h2>
            ¿A qué esperas? Únete hoy mismo
            <!-- <i class="fa-solid fa-hand-holding-dollar"></i> -->
        </h2>
        <p>
            <a href="" class="btn btn--primary btn--lg">Crear una cuenta</a>
        </p>
    </div>
</section>