
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Logout</h2>
    <p>Has cerrado sesión correctamente. Si no eres redirigido automáticamente, pulsa el siguiente link:</p>
    <p><a href="@Url.Action("Index", "Home")">Volver a la página de inicio</a></p>
</div>
